html {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}

body {
	margin: 0;
}

.Overflow {
	padding: 2em;
	position: relative;
}

#app {
	overflow: hidden;
}

.remaining {
	/*font-size: 1.2em;*/
	font-weight: bold;
}

.remaining-amount {
	cursor: help;
}

ul {
	border: 1px solid #ccc;
	list-style: none;
	padding-left: 0;
}

li {
	border-top: 1px solid #ccc;
}

li:first-of-type {
	border-top: 0;
}

li:nth-of-type(2n+1) {
	background: #f9f9f9;
}

.input-container,
.image-container,
.content-container {
	display: table-cell;
	padding: 0.5em;
	vertical-align: middle;
}

.input-container,
.image-container {
	width: 1%;
}

.input-container {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.image-container img {
	width: 100px;
}

dt {
	clear: left;
	float: left;
	font-weight: bold;
	margin-right: 0.5em;
}

dt:after {
	content: ":";
}

dd {
	margin-left: 0;
}

.boy-girl-selection img {
	cursor: pointer;
	height: 250px;
}

.boy-girl-selection .active {
	outline: 5px solid #ccc;
}

.boy {
	padding: 2em 5em;
}

.girl {
	margin-left: 2em;
	padding: 2em 2em 2em 5em;
}

.ember-list-view {
	left: 0;
	overflow: auto;
	position: absolute !important;
	right: 0;
	width: 100% !important;
}

.ember-list-item-view {
	/*font-size: 17px;*/
	/*font-weight: 200;*/
	background: #eee;
	box-shadow: inset 0 0 1px red;
	position: absolute;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
}