<p>
	<span class="caught">You have caught {{caught}} pokemon.</span>
	{{#if remaining}}
		<span class="remaining">Gotta catch <span class="remaining-amount" title="FML">{{remaining}}</span> more!</span>
	{{/if}}
</p>

{{view App.PokemonListView contentBinding="pokemons"}}