<div id="pokedex">
	<p>Pokedex.hbs</p>
	<p>
		{{#link-to 'pokedex'}}Pokedex{{/link-to}}
		{{#link-to 'trainer'}}Trainer{{/link-to}}
		{{#link-to 'pokemon'}}Pokemon{{/link-to}}
	</p>
	{{outlet}}
</div>