<p>pokemons.hbs</p>
{{!-- <p class="remaining">
	You have caught {{caught}} pokemon{{inflection}} and have <strong>{{remaining}}</strong> left
</p> --}}

{{view App.PokemonListView contentBinding="pokemons"}}